<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//com.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mobigen.snet.supportagent.dao.ExcelExportMapper">

<!-- AssetSwExport -->
	<select id="selectAssetSwExportJobList" resultType="java.util.HashMap">
		SELECT REQ_CD, REQ_USER
		  FROM SNET_ASSET_SW_AUDIT_EXCEL_JOB
		WHERE JOB_FLAG = 0
	</select>
	
	<update id="updateAssetSwExportJob" parameterType="java.util.HashMap">
		 UPDATE SNET_ASSET_SW_AUDIT_EXCEL_JOB
		   SET JOB_FLAG = #{JOB_FLAG},
		   JOB_FILE_NM = #{JOB_FILE_NM} 
		  WHERE REQ_CD = #{REQ_CD} 
	</update>

	<update id="updateAssetSwExportJobFinish" parameterType="java.util.HashMap">
		 UPDATE SNET_ASSET_SW_AUDIT_EXCEL_JOB
		   SET JOB_FLAG = #{JOB_FLAG},
		   JOB_FILE_NM = #{JOB_FILE_NM}, 
		   JOB_DATE= SYSDATE
		  WHERE REQ_CD = #{REQ_CD} 
	</update>
	
	<select id="selectAssetSwExportList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT  A.SW_TYPE, A.SW_NM, A.SW_INFO, A.AUDIT_DAY, A.ASSET_CD, B.HOST_NM, B.IP_ADDRESS, 
           	 B.USER_ID, B.USER_NM, B.TEAM_NM, B.BRANCH_NM, B.AUDIT_RATE
          FROM SNET_ASSET_SW_AUDIT_EXCEL_LIST A, SNET_ASSET_SW_AUDIT_HISTORY B
          WHERE A.SW_TYPE = B.SW_TYPE
            AND A.SW_NM = B.SW_NM
            AND A.SW_INFO = A.SW_INFO
            AND A.ASSET_CD = B.ASSET_CD
            AND A.AUDIT_DAY = B.AUDIT_DAY
		    AND A.REQ_CD = #{REQ_CD}
		 ORDER BY A.SW_TYPE, A.SW_NM 		 
	</select>
	
	<resultMap id="ResMap" type="java.util.HashMap">
	    <result property="ASSET_CD" column="ASSET_CD"/>
	    <result property="IP_ADDRESS" column="IP_ADDRESS"/>
	    <result property="HOST_NM" column="HOST_NM"/>
	    <result property="SW_TYPE" column="SW_TYPE"/>
	    <result property="SW_NM" column="SW_NM"/>
	    <result property="SW_INFO" column="SW_INFO"/>
	    <result property="AUDIT_DAY" column="AUDIT_DAY"/>
	    <result property="ITEM_GRP_NM" column="ITEM_GRP_NM"/>
	    <result property="ITEM_NM" column="ITEM_NM"/>
	    <result property="ITEM_STANDARD" column="ITEM_STANDARD"/>
	    <result property="ITEM_GRADE" column="ITEM_GRADE"/>
	    <result property="ITEM_RESULT" column="ITEM_RESULT"/>
		<result property="ITEM_STATUS" column="ITEM_STATUS" javaType="java.lang.String" jdbcType="CLOB"/>
		<result property="ITEM_COUNTERMEASURE" column="ITEM_COUNTERMEASURE" javaType="java.lang.String" jdbcType="CLOB"/>
		<result property="ITEM_COUNTERMEASURE_DETAIL" column="ITEM_COUNTERMEASURE_DETAIL" javaType="java.lang.String" jdbcType="CLOB"/>
		<result property="ITEM_COK_REASON" column="ITEM_COK_REASON" javaType="java.lang.String" jdbcType="CLOB"/>
	</resultMap>
    
	
	<select id="selectAssetSwAuditReport" parameterType="java.util.HashMap" resultMap="ResMap">
		SELECT ASSET_CD, IP_ADDRESS, HOST_NM, SW_TYPE, SW_NM, SW_INFO, AUDIT_DAY,
				ITEM_GRP_NM, ITEM_NM, ITEM_STANDARD, ITEM_GRADE, ITEM_RESULT, ITEM_STATUS, 
				ITEM_COUNTERMEASURE, ITEM_COUNTERMEASURE_DETAIL, ITEM_COK_REASON   
		  FROM SNET_ASSET_SW_AUDIT_REPORT
		  WHERE ASSET_CD = #{ASSET_CD}
		    AND IP_ADDRESS = #{IP_ADDRESS}
		    AND HOST_NM = #{HOST_NM}
		    AND SW_TYPE = #{SW_TYPE}
		    AND SW_NM = #{SW_NM}
		    AND SW_INFO = #{SW_INFO}
		    AND AUDIT_DAY = #{AUDIT_DAY}
		ORDER BY ITEM_GRP_NM, ITEM_NM
	</select>
		
	<!-- SvcAssetSwExport -->
	<select id="selectSvcAssetSwExportList" resultType="java.util.HashMap">
		SELECT A.SVC_CD, A.REQ_USER, B.SVC_NM
          FROM SNET_ASSET_SW_AUDIT_EXCEL_SVC A, SNET_SERVICE_MASTER B
          WHERE A.SVC_CD = B.SVC_CD
		    AND (A.JOB_FLAG = 0)
		    OR (A.JOB_FLAG = 2 AND ROUND((SYSDATE - JOB_DATE) * 24 * 60, 0) <![CDATA[>]]> 30)
	</select>
	
	<update id="updateSvcAssetSwExport" parameterType="java.util.HashMap">
		 UPDATE SNET_ASSET_SW_AUDIT_EXCEL_SVC
		   SET JOB_FLAG = #{JOB_FLAG},
		   JOB_FILE_NM = #{JOB_FILE_NM}
		  WHERE SVC_CD = #{SVC_CD} 
	</update>

	<update id="updateSvcAssetSwExportFinish" parameterType="java.util.HashMap">
		 UPDATE SNET_ASSET_SW_AUDIT_EXCEL_SVC
		   SET JOB_FLAG = #{JOB_FLAG},
		   JOB_FILE_NM = #{JOB_FILE_NM}, 
		   JOB_DATE = SYSDATE
		  WHERE SVC_CD = #{SVC_CD} 
	</update>
	
	<select id="selectSvcAssetSwInfoList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT SW_TYPE, AUDIT_DAY, 
			SUM(AD_RESULT_OK) AS AD_RESULT_OK, 
			SUM(AD_RESULT_NOK) AS AD_RESULT_NOK, 
			SUM(AD_RESULT_NA) AS AD_RESULT_NA, 
			SUM(AD_RESULT_PASS) AS AD_RESULT_PASS, 
			SUM(AD_RESULT_REQ) AS AD_RESULT_REQ, 
			SUM(AD_TOTAL) AS AD_TOTAL,
			(SUM(AUDIT_RATE) / COUNT(*)) AS AUDIT_RATE
			  FROM ( 
			        SELECT A.SVC_CD, A.SW_TYPE, A.SW_NM, A.SW_INFO, A.ASSET_CD, A.AUDIT_DAY,
			          B.AD_RESULT_OK, B.AD_RESULT_NOK, B.AD_RESULT_NA, B.AD_RESULT_PASS, B.AD_RESULT_REQ,
			          (B.AD_RESULT_OK + B.AD_RESULT_NOK + B.AD_RESULT_NA + B.AD_RESULT_PASS + B.AD_RESULT_REQ) AS AD_TOTAL,
			          B.AUDIT_RATE
			          FROM SNET_SERVICE_SW_AUDIT_DAY A, SNET_ASSET_SW_AUDIT_HISTORY B
			        WHERE A.SW_TYPE = B.SW_TYPE
			           AND A.SW_NM = B.SW_NM
			           AND A.SW_INFO = B.SW_INFO
			           AND A.ASSET_CD = B.ASSET_CD
			           AND A.AUDIT_DAY = B.AUDIT_DAY
			           AND A.SVC_CD = #{SVC_CD}
			   ) AA
			   GROUP BY SW_TYPE, AUDIT_DAY
			   ORDER BY SW_TYPE	
	</select>
	
	<select id="selectSvcAssetSwList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT A.SVC_CD, A.SW_TYPE, A.SW_NM, A.SW_INFO, A.IP_ADDRESS, A.HOST_NM, A.AUDIT_DAY, 
        		A.ASSET_CD, A.USER_ID, A.USER_NM, A.USER_TYPE, A.BRANCH_ID, A.BRANCH_NM, A.TEAM_ID, A.TEAM_NM, B.AUDIT_RATE
          FROM SNET_SERVICE_SW_AUDIT_DAY A, SNET_ASSET_SW_AUDIT_HISTORY B
          WHERE A.SW_TYPE = B.SW_TYPE
            AND A.SW_NM = B.SW_NM
            AND A.SW_INFO = A.SW_INFO
            AND A.ASSET_CD = B.ASSET_CD
            AND A.AUDIT_DAY = B.AUDIT_DAY
            AND SVC_CD = #{SVC_CD}
         ORDER BY SW_TYPE, SW_NM         
    </select>	
</mapper> 
